.android-compact-6,
.android-compact-6 * {
  box-sizing: border-box;
}
.android-compact-6 {
  background: #f6f6f3;
  padding: 10px 14px 10px 14px;
  height: 655px;
  position: relative;
  overflow: hidden;
}
.group-12 {
  position: absolute;
  inset: 0;
}
.group-9 {
  width: 332.5px;
  height: 543.87px;
  position: static;
}
.rectangle-3 {
  background: #ffffff;
  border-radius: 15px;
  width: 291.27px;
  height: 543.87px;
  position: absolute;
  left: 32.81px;
  top: 41.02px;
}
.botones {
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: center;
  justify-content: center;
  width: 332.5px;
  position: absolute;
  left: 10px;
  top: 180.47px;
}
.vivere-cono-men-con-bot-n-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.capa-2 {
  flex-shrink: 0;
  width: 332.5px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.frame-18 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 210px;
  height: 36px;
  position: relative;
  aspect-ratio: 210/36;
}
.frame-8 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 14px;
  position: relative;
}
.men-completo {
  color: #ffffff;
  text-align: left;
  font-family: "Unbounded", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.vivere-cono-delivery-con-bot-n-1-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.capa-22 {
  flex-shrink: 0;
  width: 332.5px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.frame-17 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 210px;
  height: 36px;
  position: relative;
  aspect-ratio: 210/36;
}
.contacto-delivery {
  color: #ffffff;
  text-align: left;
  font-family: "Unbounded", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.vivere-cono-franquicias-con-bot-n-2 {
  padding: 14px 133px 14px 133px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.capa-23 {
  flex-shrink: 0;
  width: 332.5px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.frame-172 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 92.55px;
  height: 15.87px;
  position: relative;
  aspect-ratio: 92.55/15.87;
}
.tu-franquicia {
  color: #ffffff;
  text-align: left;
  font-family: "Unbounded", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
.frame-22 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
.group-8 {
  flex-shrink: 0;
  width: 332.5px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.viverebeneok {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.viverebeneok-span {
  font-family: "Unbounded", sans-serif;
  font-weight: 300;
}
.viverebeneok-span2 {
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
}
.vivere-cono-www-con-bot-n-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.capa-24 {
  flex-shrink: 0;
  width: 332.5px;
  height: 48px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.frame-173 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 262px;
  height: 44.91px;
  position: relative;
  aspect-ratio: 262/44.91;
}
.frame-82 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 262px;
  height: 14px;
  position: relative;
  aspect-ratio: 262/14;
}
.www-viverebene-com-ar {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.www-viverebene-com-ar-span {
  font-family: "Unbounded", sans-serif;
  font-weight: 300;
}
.www-viverebene-com-ar-span2 {
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
}
.vivere-vasito-2 {
  width: 70.4px;
  height: 70px;
  position: absolute;
  left: 256.5px;
  top: 6px;
  aspect-ratio: 70.4/70;
}
.dise-o {
  width: 99.99%;
  height: 100.02%;
  position: absolute;
  right: 0.01%;
  left: 0%;
  bottom: -0.01%;
  top: -0.02%;
  overflow: visible;
}
.vivere-clave-wifi-2 {
  width: 222.18px;
  height: 17.73px;
  position: absolute;
  left: 65.16px;
  top: 607.27px;
  overflow: hidden;
  aspect-ratio: 222.18/17.73;
}
.capa-25 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.vivere-nuestras-2 {
  width: 106.2px;
  height: 31.24px;
  position: absolute;
  left: 121.5px;
  top: 97px;
  overflow: hidden;
  aspect-ratio: 106.2/31.24;
}
.capa-26 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.vivere-estrellita-2 {
  width: 13.23px;
  height: 13.51px;
  position: absolute;
  left: 50.58px;
  top: 56.38px;
  overflow: hidden;
  aspect-ratio: 13.23/13.51;
}
.capa-27 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.opciones {
  color: #298067;
  text-align: left;
  font-family: "Unbounded", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 62px;
  top: 131px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-1 {
  width: 141.61px;
  height: 50.71px;
  position: absolute;
  left: 95px;
  top: 528px;
  overflow: visible;
}
.capa-28 {
  width: 19px;
  height: 18px;
  position: absolute;
  left: 270px;
  top: 576px;
  overflow: visible;
}
